<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: sans-serif;
            max-width: 40em;
            margin-left: auto;
            margin-right: auto;
        }

        pre {
            font-family: monospace;
            background-color: #222;
            color: #eee;
        }
    </style>
    <title>Build results for {{context.branch}}</title>
</head>
<body>
<h1>Build results for pipeline {{context.branch}} at {{start_date}}: {{build_status job_results}}</h1>
{{#each job_results}}
    <h2>{{this.name}} ({{duration this.start_date this.end_date}}s)</h2>
    <p>Execution logs:</p>
    <pre>
        {{#each this.logs}}
            {{this}}
        {{/each}}
    </pre>
{{/each}}
</body>
</html>
